.about-text {
  background-color: #007bff;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.about-image {
  display: flex;
  align-items: center; /* Los iconos estarán en la parte inferior de la imagen */
  margin-top: 10px; /* Espacio entre la imagen y el texto */
}

.about-image img {
  max-width: 80%; /* La imagen es un poco más pequeña */
  height: auto;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons a {
  border-radius: 50%;
  color: #007bff;
  padding: 10px;
  margin: 5px; /* Espacio entre los iconos */
  display: inline-block;
  transition: background-color 0.3s, transform 0.2s;
}

.social-icons a:hover {
  background-color: #007bff; /* Cambia el color al hacer hover */
  transform: scale(1.2); /* Escala ligeramente el botón al hacer hover */
}
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .about-image img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho de la pantalla en dispositivos móviles */
    margin: 1rem auto;
    background-color: #fff; /* Agrega un fondo blanco a la imagen */
  }
}
