.container {
  width: 100%;
  max-width: auto; /* Ancho máximo para el contenedor */
  margin: 0 auto; /* Centrar el contenedor en la pantalla */

  padding: 20px; /* Espaciado interior */
  box-sizing: border-box; /* El espaciado se incluye en el ancho total */

  background-color: brown;

  /* Consulta de medios para dispositivos más pequeños */
  @media (max-width: 768px) {
    padding: 10px;
  }

  /* Agregar más consultas de medios según sea necesario */
}
